release/glarch.db filter=lfs diff=lfs merge=lfs -text
release/glarch.files filter=lfs diff=lfs merge=lfs -text
release/linux-ripemd-5.11.6.arch1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/linux-ripemd-docs-5.11.6.arch1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/linux-ripemd-headers-5.11.6.arch1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/mint-0.10.0-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/numix-icon-theme-20.06.07-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/numix-icon-theme-circle-20.07.10-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/numix-icon-theme-circle-20.07.11-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/numix-icon-theme-circle-20.09.19-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/starship-0.50.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/ttf-cica-5.0.2-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/wasm-pack-0.9.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/wasmtime-0.24.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/xkcp-git-r311.574bc73-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
release/yay-10.1.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
