# ignore all
*

# dir
!package/
!package/*/
!package/AUR/*/
!script/

# dotfile
!.gitignore

# package files
!package/*/LICENSE
!package/*/PKGBUILD
!package/*/.SRCINFO
!package/*/*.install
!package/*/*.protocol

!package/AUR/*/LICENSE
!package/AUR/*/PKGBUILD
!package/AUR/*/.SRCINFO
!package/AUR/*/*.install
!package/AUR/*/*.protocol

# crean script
!script/crean.sh
