# ignore all
*

# dir
!package/
!package/*/
!release/
!script/

# rootfile
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!Dockerfile
!Makefile
!README.md

# package files
!package/*/LICENSE*
!package/*/PKGBUILD
!package/*/*.checkupdate
!package/*/*.install
!package/*/*.protocol

!release/*.db*
!release/*.files*
!release/*.pkg.tar.zst

# some script
!script/build.sh
!script/check_update.sh
!script/new.sh
!script/now.sh
!script/readme_update.sh
!script/repo_update.sh
!script/updpkgsums.sh
