# ignore all
*

# dir
!package/
!package/*/
!package/AUR/*/
!release/
!release/.gitkeep
!script/

# rootfile
!.gitignore
!Dockerfile
!Makefile

# package files
!package/*/LICENSE
!package/*/PKGBUILD
!package/*/*.install
!package/*/*.protocol

!package/AUR/*/LICENSE
!package/AUR/*/PKGBUILD
!package/AUR/*/*.install
!package/AUR/*/*.protocol

# some script
!script/build.sh
!script/new.sh
!script/updpkgsums.sh
