pkgbase = yay
	pkgdesc = Yet another yogurt. Pacman wrapper and AUR helper written in go.
	pkgver = 9.2.0
	pkgrel = 1
	url = https://github.com/Jguer/yay
	arch = x86_64
	license = GPL
	makedepends = go
	depends = pacman
	depends = sudo
	depends = git
	source = https://gitlab.com/glarch/applications/yay/-/archive/v9.2.0/yay-v9.2.0.tar.bz2
	sha512sums = 5f8b18ac0057dfcaea10e820cc4dcb0670882f8fd10a662c6254bd3ffe5b1160bfae5aeb6efc95815f53ff40193167fe5dd866cd7d74cdfce250503a780978ff

pkgname = yay

