pkgbase = numix-circle-icon-theme
	pkgdesc = Circle icon theme from the Numix project
	pkgver = 19.05.07
	pkgrel = 2
	url = http://numixproject.org/
	arch = any
	license = GPL3
	provides = numix-circle-icon-theme
	provides = numix-circle-light-icon-theme
	options = !strip
	source = https://gitlab.com/glarch/applications/icon/numix-circle-icon-theme/-/archive/19.05.07/numix-circle-icon-theme-19.05.07.tar.bz2
	sha512sums = 1e393e2a4442cf62b7fce72cb3116e6d0a5d6d406f372008023b9179300a6dbf60700a3f026ba303870e9969656a3aa067ebe004a0bae1e767cccd405ab81932

pkgname = numix-circle-icon-theme

