pkgbase = ion
	pkgdesc = The Ion Shell. Compatible with Redox and Linux.
	pkgver = 1.0.5
	pkgrel = 4
	url = https://gitlab.redox-os.org/redox-os/ion
	install = ion.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	source = https://gitlab.com/glarch/applications/ion/-/archive/1.0.5/ion-1.0.5.tar.bz2
	sha512sums = c7a8338ccc45684e04ed207aa977d1c0d05a9229bb0f146ae3965a1ce85b7aa0afbf116e99e44de31cfd825ff2d2b67df69eb1403befe334524f601f546d1554

pkgname = ion

